.main {
  &__container {
    min-height: calc(100vh - 13rem);
    display: flex;
  }

  .content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }
}

.font-size-18 {
  font-size: 18px;
}

.heigh-100 {
  height: auto;
  max-height: 100px;
}

.height-200 {
  height: auto;
  max-height: 200px;
}

.height-500 {
  height: auto;
  max-height: 500px;
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

iframe {
  width: 100%;
  height: 200px;
}

.ad-container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically if needed */
  margin: 1.5rem 0; /* spacing above/below */
}

.ad-container img {
  max-width: 100%;
  height: auto;
  border-radius: 12px; /* optional rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* optional shadow */
}

.blog-posts {
  background-color: #f9f9f9;
  padding: 20px;
}

.blog-post-item {
  margin-bottom: 15px;
  background-color: #fff;
  display: flex;
  margin-bottom: 20px;

  img {
    margin-right: 15px;
    border-radius: 5px;
  }

  h4 {
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
  }
}

.bold {
  font-weight: bold;
}

.margin-top-30 {
  margin-top: 30px;
}
