.banner,
.featured {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 410px; /* adjust as needed */
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  a {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  }
}

.featured-image {
  height: auto;
  max-height: 1080px;

  .featured-image-text {
    position: absolute;
    bottom: 15px;
    left: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  }

  .featured-image-text p {
    line-height: 5.9rem;
    font-size: 2em;
    padding: 0 5px;
    margin-bottom: 0;
    position: relative;
    display: inline;
    color: $white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    background: url('../../public/image/pattern-diag-dark-33.png');
  }
}

.featured {
  max-height: 200px;

  p,
  a {
    font-size: 1.8rem;
  }
}

.featured-ads {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 200px; /* adjust as needed */
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.video-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; /* YouTube's standard ratio */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.featured-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin-bottom: 20px;

  .small-gid {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .banner a {
      font-size: 1.8rem;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

/* Responsive */
@media (max-width: 768px) {
  .featured-grid {
    grid-template-columns: 1fr;

    .small-grid {
      flex-direction: row;
    }
  }
}
