.sidebar {
  width: 350px;
  padding: 20px;
  box-sizing: border-box;

  &__top {
    background-color: #f4f4f4;
    padding: 15px;

    .maker {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
      gap: 10px;

      &__link {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: black;
        border-radius: 3px;
        transition: background-color 0.2s ease, color 0.2s ease;

        &:hover,
        &.active {
          background-color: $red;
          color: $white;
        }
      }
    }
  }
}
